/* Resetting default margin and padding, setting font family */
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/* Styling for the header section */
header {
    background-image: url(../1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Styling for the navigation menu */
ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

/* Styling for the navigation links */
ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: white;
    color: #000;
}

/* Styling for the active link in the navigation menu */
ul li.active a {
    background-color: #fff;
    color: #000;
}

/* Styling for the logo image */
.logo img {
    float: left;
    width: 300px;
    height: auto;
}

/* Styling for the main content section */
.main {
    max-width: 1200px;
    margin: auto;
}

/* Styling for the buttons in the main content section */
.button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling for the buttons */
.btn {
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

/* Styling for the text section in the main content */
.text-section {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling for the heading in the text section */
h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Styling for the subtext in the text section */
.subtext {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}
